input:focus,
input:active {
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
}

.navbar .navMenu {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navMenu .searchBox {
  width: 650px;
  background: #ececec;
  border: 1px solid #6b4dff;
  box-sizing: border-box;
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
}

.navbar .navMenu .searchBox input {
  background: transparent;
  padding: 10px 0 10px 30px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0075em;
  color: #19191d;
}

.navbar .navMenu .searchBox button {
  height: 100%;
  padding: 9.5px 24px 9.5px 20px;
  background: #6b4dff;
  border: 1px solid #6b4dff;
  box-sizing: border-box;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.navbar .navMenu .enterLink {
  border: 1px solid #6b4dff;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0075em;
  color: #6b4dff;
  cursor: pointer;
}

.navbar .navMenu .cartLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 6.5px 20px;
  background: #6b4dff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.navbar .navMenu .cartLink i {
  margin-right: 10px;
  margin-bottom: 1px;
}

.navbar .navMenu .dropdownLink {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0075em;
  color: #22262a;
  cursor: pointer;
}

.navbar .navMenu .dropdownLink i {
  margin-left: 9px;
}
