* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

input:focus,
input:active {
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
}

.navbar .navMenu {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navMenu .searchBox {
  width: 500px;
  background: #ececec;
  border: 1px solid #6b4dff;
  box-sizing: border-box;
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navMenu .searchBox input {
  background: transparent;
  padding: 10px 0 10px 30px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0075em;
  color: #19191d;
}

.navbar .navMenu .searchBox button {
  height: 100%;
  padding: 9.5px 22px 9.5px 17px;
  background: #6b4dff;
  border: 1px solid #6b4dff;
  box-sizing: border-box;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
